* {
    box-sizing: border-box;
}


/* Reset */
p,
b,
h1,
h2,
h3,
h4,
h5,
h6,
body {
    margin: 0px;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    height: auto;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
}


body {
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f5f5f5;
    color: #464646;
    line-height: 1.5;
}




a{
    text-decoration: none;
    color: inherit;
    font-size: 13px;
}

/* Убирает маркеры в списках */
.list {
    list-style: none;
}

b>span{
    color: #8cada5;
}



