:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
}

.gallery {
    display: grid;
    max-width: 1240px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 320px;
    grid-gap: 32px;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.gallery > div{
    position: relative;
    border-radius: 12px;
    box-shadow: 0px 4px 8px 1px rgba(49, 64, 75, 0.15);
    background-color: #fff;
    
}

.gallery img:hover {
    transform: scale(1.03);
}

.gallery img {
    height: 75%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    transition: transform var(--animation-duration) var(--timing-function);
}

/* .gallery__link {
    display: block;
    text-decoration: none;
    height: 100%;
}

.gallery__link:hover {
    cursor: zoom-in;
} */
.info{    
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.info> p{
    display: inline-block;
    margin-right: 10px;
}
