:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
}

form{
    position:fixed;
    top: 0;
    z-index: 2;
    width: 100vw;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    background: linear-gradient(to bottom,#008876, #01746a);
    margin-bottom: 20px;
}

button{
    font: inherit;
        width: 100px;
        height: 38px;
        border-radius: 5px;
        text-transform: uppercase;
        border: 1px solid rgb(3, 173, 136);
        cursor: pointer;        
}
button:hover, button:focus{
    background-color: rgb(223, 245, 241);
}

button.load-more{
    display: block;
   width: 120px;    
    text-align: center;
    padding: 0;
    margin: 30px auto;
    background-color: rgb(8, 121, 106);
    color: rgba(255, 255, 255, 0.904);
}
button.load-more:hover, button.load-more:focus{
    background-color: rgb(1, 148, 136);
        color: #fff;
    }

input {
    font: inherit;
    width: 340px;
    height: 38px;
    border: 1px solid rgb(2, 139, 110);
    border-radius: 5px;
    padding: 10px;
    margin-right: 7px;

}

.gallery {
    display: grid;
    max-width: 1240px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 320px;
    grid-gap: 32px;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 126px;
    
}

.gallery > div{
    border-radius: 12px;
    box-shadow: 0px 4px 8px 1px rgba(49, 64, 75, 0.15);
    background-color: #fff;
    
}

.gallery img:hover {
    transform: scale(1.03);
}

.gallery img {
    height: 75%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    transition: transform var(--animation-duration) var(--timing-function);
}


.info{    
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.info> p{
    display: inline-block;
    margin-right: 10px;
}

.is-hidden{
    visibility: hidden;
}
